---
---

body {
  font-family: 'Source Code Pro';
}

p {
  color: #656565;
}

.title {
  padding: 180px 0 100px 0;
  text-align: center;
  background-color: #e7f2ef;

  img {
    margin-bottom: 14px;
  }

  h1 {
    color: #e04a31;
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 500;

    span {
      border: 4px solid #e04a31;
      padding: 10px 30px;
    }
  }

  h2 {
    color: #343434;
    font-weight: 300;
  }

  h3 {
    margin-top: 100px;
    font-weight: 400;

    a {
      color: #688f85;
      text-decoration: underline;
    }
  }
}

.section {
  padding: 80px 0;

  h3 {
    margin: 0;
  }
}

.synopsis {
  h3 {
    color: #e04a31;
  }

  p {
    text-align: justify;
  }

  .logo {
    display: table-cell;
    vertical-align: middle;
    float: none;

    img {
      margin-top: 20px;
    }
  }
}

.topics {
  background-color: #e4f7fd;
  padding-bottom: 50px;

  h3 {
    color: #1f71b5;

    &.day-mark {
      margin-bottom: 20px;
    }
  }

  ul {
    margin-bottom: 30px;
    list-style-type: none;
    padding: 0;

    li {
      padding: 5px 0;
      font-size: 18px;
    }
  }
}

.instructors {
  background-color: #e7f2ef;

  h3 {
    color: #688e85;
    margin-bottom: 60px;
  }

  h4 {
    color: #656565;
    font-size: 18px;
    margin: 40px 0 20px 0;

    .company {
      display: block;
    }
  }

  a {
    display: block;
    margin: 20px 0 0 0;
    font-size: 80%;
  }
}

.tickets {
  padding-bottom: 20px;

  h3 {
    color: #688e85;
    margin-bottom: 60px;
  }
}

.footer {
  background-color: #e4f7fd;
  padding: 10px 0;

  a {
    color: #656565;

    &:hover {
      text-decoration: none;
    }
  }
}
