.logo {
  height: 1.25rem;
}

.main-content {
  margin: 1rem auto 4rem;
}

.album-tile {
  cursor: pointer;
}

.album .song-list li {
  list-style-position: inside;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.fa.play-song, .fa.stop-song {
  cursor: pointer;
}

$playerHeight: 75px;

.player-tile {
  height: $playerHeight;

  .cover-image {
    height: $playerHeight;
    margin-right: 20px;
  }

  .play-button {
    margin-right: 20px;
  }

  .fa.play-song, .fa.stop-song, .fa.no-song {
    line-height: $playerHeight;
    font-size: $playerHeight;
  }

  .fa.no-song {
    opacity: 0.5;
  }

  p {
    margin: 0;

    strong {
      display: block;
    }

    &.no-song {
      line-height: $playerHeight;
      font-style: italic;
    }
  }
}
