@import 'loading-spinner';

.nav-link {
  cursor: pointer;
}

.logo {
  height: 1.25rem;
}

.main-content {
  margin: 1rem auto 110px;
}

.selectable-album {
  cursor: pointer;
}

.song-list li {
  border-bottom: 1px dotted rgba(0, 0, 0, .1);
}

.fa.play-song, .fa.pause-song {
  cursor: pointer;
}

$playerHeight: 75px;

.player-tile {
  height: $playerHeight;

  .cover-image {
    height: $playerHeight;
    margin-right: 20px;
  }

  .play-button {
    margin-right: 20px;
  }

  .fa.play-song, .fa.pause-song, .fa.no-song {
    line-height: $playerHeight;
    font-size: $playerHeight;
  }

  .fa.no-song {
    opacity: 0.5;
  }

  p {
    margin: 0;

    strong {
      display: block;
    }

    &.no-song {
      line-height: $playerHeight;
      font-style: italic;
    }
  }
}

$sidebarWidth: 200px;

.sidebar {
  float: left;
  width: $sidebarWidth;

  .album-cover {
    width: 100%;
  }

  .rating, .song-list {
    display: none;
  }
}

.album-outlet {
  float: right;
  width: calc(100% - #{$sidebarWidth} - 20px);
}

.fa-star.active {
  color: #f6c12e;
}
