.main-content {
  margin: 1rem auto 4rem;
}

.album-tile {
  cursor: pointer;
}

.album .song-list li {
  list-style-position: inside;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  .play-song, .stop-song {
    cursor: pointer;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  img {
    height: 40px;
    width: auto;
  }
}
