{{!-- template-lint-disable no-forbidden-elements --}}
<style>
  .active-item {
    background-color: blue;
  }
</style>

<div>
  {{#each this.displayItems as |displayItem|}}
    <div class="list-view-item {{if displayItem.isSelected "active-item"}}">
      {{yield (hash delete-button=(component "danger-button" onClick=(fn this.removeItem displayItem.item)) selectItem=this.selectItem) displayItem.item}}
    </div>
  {{/each}}
</div>