<h1>{{songCount}} songs</h1>

<div class="list-group">
  {{#each orderedSongs as |song|}}
    <div class="list-group-item">
      <SongTile @song={{readonly song}} @on-rating-change={{action 'setSongRating' song}} />
    </div>
  {{/each}}
</div>
