<h1>{{songCount}} songs</h1>

<div class="list-group">
  {{#each orderedSongs as |song|}}
    <div class="list-group-item">
      {{song-tile song=song on-rating-change=(action 'setSongRating' song)}}
    </div>
  {{/each}}
</div>