<h3>
  {{this.fullName}}

  <button {{action this.toggle}}>
    Toggle
  </button>
</h3>

{{#if this.isExpanded}}
  <div>
     <p>First name: {{this.person.firstName}}</p>
     <p>Last name: {{this.person.lastName}}</p>
  </div>
{{/if}}
