<h1 class="display-1">Addons and Dependencies</h1>

<p class="lead">This example shows how to use Ember Addons and npm dependencies.</p>

<p class="font-awesome-paragraph">These icons are rendered with FontAwesome: <FaIcon @icon="coffee"/> <FaIcon @icon="square"/> <FaIcon @icon="circle"/></p>

<ComponentA />

<p>This is a chart rendered with the dynamically loaded highcharts library:</p>
<MyChart @highcharts={{this.model.highcharts}} />