<h1 class="display-1">Addons and Dependencies</h1>

<p class="lead">This example shows how to use Ember Addons and bower dependencies.</p>

<p>These icons are rendered with FontAwesome: <i class="fa fa-edge"></i> <i class="fa fa-chrome"></i> <i class="fa fa-safari"></i> <i class="fa fa-firefox"></i></p>

{{custom-component-a}}
{{custom-component-b}}