<div class="list-group">
  <div class="list-group-item">
    {{album-tile album=(readonly model)}}
  </div>
  <div class="list-group-item">
    <div class="card">
      <div class="card-block">
        {{#link-to 'albums.album.comment' model class='btn btn-primary'}}
          New Comment
        {{/link-to}}
        {{outlet}}
      </div>
    </div>
    {{comment-list comments=(readonly model.comments)}}
  </div>
</div>
