<AlbumTile @album={{model}} />

<CommentsList @comments={{model.comments}} />

<div class="mt-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Comment on {{model.title}}</h5>
      <NewComment @album={{model}} />
    </div>
  </div>
</div>