<div class="list-group">
  <div class="list-group-item">
    <AlbumTile @album={{readonly model}} @show-songs={{true}} />
  </div>
  <div class="list-group-item">
    <div class="card">
      <div class="card-block">
        {{outlet}}
      </div>
    </div>
    {{comment-list comments=(readonly model.comments)}}
  </div>
</div>
