<AlbumTile @album={{this.model}} />

<CommentsList @comments={{this.model.comments}} />

<div class="mt-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Comment on {{this.model.title}}</h5>
      <NewComment @album={{this.model}} />
    </div>
  </div>
</div>