<div class="list-group">
  <div class="list-group-item">
    <div class="row">
      <div class="col-xs-12">
        <h4>Welcome to Tomster Player!</h4>
        <hr>
        <p>Please select an album on the left.</p>
      </div>
    </div>
  </div>
</div>
