<h1>Ember Data Playground</h1>

<p>You can play with the <code>store</code> in the browser console. The available model definition is this:</p>

<h4>Album</h4>
<pre><code>import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import { hasMany } from 'ember-data/relationships';

export default Model.extend({
  title:    attr('string'),
  coverUrl: attr('string'),

  songs: hasMany(),
  comments: hasMany()
});</code></pre>

<h4>Song</h4>
<pre><code>import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import { belongsTo } from 'ember-data/relationships';

export default Model.extend({
  title:    attr('string'),
  duration: attr('number'),
  mp3Url:   attr('string'),

  album: belongsTo()
});</code></pre>

<h4>Comment</h4>
<pre><code>import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import { belongsTo } from 'ember-data/relationships';

export default Model.extend({
  rating:    attr('number'),
  text:      attr('string'),
  createdAt: attr('date'),

  album: belongsTo()
});</code></pre>
