{{! template-lint-disable block-indentation }}
<h1>Ember Data Playground</h1>

<p>You can play with the <code>store</code> in the browser console. The available model definition is this:</p>

<h4>Album</h4>
<pre><code>import Model, { attr, hasMany } from "@ember-data/model";

export default class Album extends Model {
  @attr title;

  @attr coverUrl;

  @hasMany songs;

  @hasMany comments;
}</code></pre>

<h4>Song</h4>
<pre><code>import Model, { attr, belongsTo } from "@ember-data/model";

export default class Song extends Model {
  @attr title;

  @attr duration;

  @attr mp3Url;

  @belongsTo album;
}</code></pre>

<h4>Comment</h4>
<pre><code>import Model, { attr, belongsTo } from "@ember-data/model";

export default class Comment extends Model {
  @attr rating;

  @attr text;

  @attr createdAt;

  @belongsTo album;
}</code></pre>
