<nav>
  <ul>
    <li>
      {{link-to "Home" "index"}}
    </li>
    <li>
      {{link-to "Media" "media"}}
    </li>
    <li>
      {{link-to "Error" "fail"}}
    </li>
    <li>
      <a href="/unknown-page">Unknown Page</a>
    </li>
  </ul>
</nav>

{{outlet}}