<nav>
  <ul>
    <li>
      <LinkTo @route="index">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="media">Media</LinkTo>
    </li>
    <li>
      <LinkTo @route="fail">Error</LinkTo>
    </li>
    <li>
      <a href="/unknown-page">Unknown Page</a>
    </li>
  </ul>
</nav>

{{outlet}}