<nav class="navbar bg-faded">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      {{link-to 'Home' 'index' class='nav-link'}}
    </li>
    <li class="nav-item">
      {{link-to 'Other page' 'other' class='nav-link'}}
    </li>
  </ul>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>