<style>
  .active { font-weight: bold; }
</style>
<nav>
  <ul>
    <li>
      {{link-to "Home" "index" }}
    </li>
    <li>
      {{link-to "Other page" "other"}}
    </li>
  </ul>
</nav>

{{outlet}}