<div class="list-group">
  <div class="list-group-item">
    {{album-tile album=(readonly model)}}
  </div>
  <div class="list-group-item">
    <div class="card">
      <div class="card-block">
        {{outlet}}
      </div>
    </div>
    {{comment-list comments=(readonly model.comments)}}
  </div>
</div>