<div class="row">
  <div class="col-xs-3">
    <img src="{{model.coverUrl}}" width="100%" class="img-rounded">
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{model.name}}</h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ol>
          {{#each model.songs as |song|}}
            <li>{{song.name}}</li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>