<div class="row">
  <div class="col-3">
    <div class="list-group">
      {{#each model as |album|}}
        {{#link-to "albums.album" album.id class="list-group-item list-group-item-action" data-test-album=true}}
          {{album.title}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="col-9">
    {{outlet}}
  </div>
</div>