<div class="row">
  <div class="col-3">
    <div class="list-group">
      {{#each this.model as |album|}}
        <LinkTo @route="albums.album" @model={{album.id}} class="list-group-item list-group-item-action">
          {{album.title}}
        </LinkTo>
      {{/each}}
    </div>
  </div>
  <div class="col-9">
    {{outlet}}
  </div>
</div>