<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light">
  <h1 class="navbar-brand">
    <img width="30" height="30" class="d-inline-block align-top" src="/assets/images/tomster.png" alt="The Ember.js Tomster">
    Tomster Player
  </h1>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <LinkTo @route="index" class="nav-link">Tomster's Music Library</LinkTo>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</div>

<div class="navbar fixed-bottom navbar-light bg-light">
  <PlayerTile />
</div>