<style>
  .active-item {
    background-color: blue;
  }
</style>

<div>
  {{#each displayItems as |item|}}
    <div class={{if item.isSelected "active-item"}}>
      {{yield (hash delete-button=(component "danger-button" onClick=(action "removeItem" item.item)) selectItem=(action "selectItem")) item.item}}
    </div>
  {{/each}}
</div>