<h1>{{songCount}} songs</h1>

{{#list-view items=model on-remove-item=(action 'deleteSong') as |list item|}}
  {{song-tile song=item on-select-song=list.selectItem}}
  {{#list.delete-button}}
    Delete
  {{/list.delete-button}}
{{/list-view}}