<div class="list-group">
  <div class="list-group-item">
    {{album-tile album=attrs.album}}

    {{#each attrs.album.comments as |comment|}}
      {{comment.text}}
    {{/each}}

    <div class="row">
      <div class="col-xs-12">
        <hr/>
        {{new-comment album=attrs.album}}
      </div>
    </div>
  </div>
</div>