<div class="row">
  <div class="col-xs-12">
    <h4>{{album.title}}</h4>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <img src="{{album.coverUrl}}" width="100%" class="img-rounded">
  </div>
  <div class="col-xs-9">
    <ol class="song-list">
      {{#each album.songs as |song|}}
        <li>
          {{song-tile song=song}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>