<div class="list-group sidebar">
  {{#each @albums as |album|}}
    <div class="list-group-item">
      <AlbumTile @album={{readonly album}} @on-select-album={{@on-select-album}} class="selectable-album" @show-songs={{false}} />
    </div>
  {{/each}}
</div>
