<div class="row">
  <div class="col-xs-12">
    <h4 data-element-type="album-title">
      {{attrs.album.title}}
      <span data-element-type="album-rating">
        {{rating-indicator rating=(readonly attrs.album.averageRating) classNames='pull-right'}}
      </span>
    </h4>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <img src="{{attrs.album.coverUrl}}" width="100%" class="img-rounded">
  </div>
  <div class="col-xs-9">
    <ol class="song-list">
      {{#each attrs.album.songs as |song|}}
        <li data-element-type="album-song">
          {{song-tile song=(readonly song)}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>