<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-block">
        {{#if isAdding}}
          {{new-comment album=attrs.album on-cancel=(action 'endAdding') on-created=(action 'endAdding')}}
        {{else}}
          <button class="btn btn-primary" onclick={{action (action 'startAdding')}}><i class="fa fa-plus"></i></button>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{#each attrs.album.sortedComments as |comment|}}
      {{comment-tile comment=comment}}
    {{/each}}
  </div>
</div>