<div class="row">
  <div class="col-xs-12">
    {{#each sortedComments as |comment|}}
      <div data-element-type="comment">
        <CommentTile @comment={{readonly comment}} />
      </div>
    {{/each}}
  </div>
</div>
