<form onsubmit={{action (action 'createComment')}}>
  <fieldset class="form-group">
    <textarea class="form-control" rows="3" onblur={{action (action 'textChanged')}}></textarea>
  </fieldset>
  <button type="submit" class="btn btn-primary">Comment</button>
</form>