<div class='row player-tile'>
  <div class="col-xs-12">
    {{play-icon song=song classNames='pull-left play-button'}}
    {{#if song}}
      <img src="{{song.album.coverUrl}}" class="cover-image pull-left img-rounded">
      <p>
        <strong>{{song.title}}</strong>
        {{song.album.title}}
      </p>
    {{/if}}
  </div>
</div>
