<h2>Navigation</h2>

<ul>
  <li>
    {{#link-to "tight-coupling"}}Tight coupling{{/link-to}}
  </li>

  <li>
    {{#link-to "move-state-to-controller"}}Move state to controller{{/link-to}}
  </li>

  <li>
    {{#link-to "send-signal-from-controller"}}Send signal from controller{{/link-to}}
  </li>
</ul>

{{outlet}}
